In [1]:
import pandas as pd
import numpy as np


data = pd.read_csv('attacks.csv', encoding = 'latin-1')

In [2]:
pd.set_option("display.max_columns",None) # configuro para ver todas las columnas
data.dtypes # observo el tipo de dato de cada columna, las ultimas 2 están vacias 

pd.set_option("display.max_rows",None) # configuro para ver todas las columnas

#Metodología,

<h3>Objetivo:<h3>

Saber el número de ataques de tiburones por paises

Análisis: 
las columnas date, case_number, case_number1, case_number2, hablan de fechas(cada una tiene un formato diferente). Se podrian llegar a relacionar con las col 'year' y 'time'
Las col 'href' y 'href_formula' estan duplicadas, me tengo que cargar alguna de ellas
Las dos ultimas col 'unnamed:_22', 'unnamed:_23' las cambio de nombre a borrar y las relleno con unknow

In [3]:

data.columns # veo solo las columnas 
data.columns = [e.lower().strip().replace(" ", "")for e in data.columns]
# e.lower : pongo todo en minúsculas
#strip, sustituye en ambos lados

In [4]:
data.info() # verl el tipo de dato y los NO nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            8702 non-null   object
 1   date                  6302 non-null   object
 2   year                  6300 non-null   float64
 3   type                  6298 non-null   object
 4   country               6252 non-null   object
 5   area                  5847 non-null   object
 6   location              5762 non-null   object
 7   activity              5758 non-null   object
 8   name                  6092 non-null   object
 9   sex                   5737 non-null   object
 10  age                   3471 non-null   object
 11  injury                6274 non-null   object
 12  fatal(y/n)            5763 non-null   object
 13  time                  2948 non-null   object
 14  species               3464 non-null   object
 15  investigatororsource  6285 non-null   object
 16  pdf                   6302 non-null   object
 17  hrefformula           6301 non-null   object
 18  href                  6302 non-null   object
 19  casenumber.1          6302 non-null   object
 20  casenumber.2          6302 non-null   object
 21  originalorder         6309 non-null   float64
 22  unnamed:22            1 non-null      object
 23  unnamed:23            2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
# Renombro las columnas incesarios para mi Objetivo, ya que la restricción es NO borrar columnas
data = data.rename(columns = {"unnamed:22": "borrar1", "unnamed:23"  :"borrar2"})
columnas = data.columns # Guardo todas las columnas
data.shape ## filas originales 25723

(25723, 24)

In [7]:
data = data.drop_duplicates(subset=columnas) ##Borro las filas duplicadas
data.fillna("'unknown", inplace=True) #relleno todos los valores nulos con unknow
data.dropna(inplace=True) ## PASO SUPER IMPORTANTE 


data.shape # me quedo con 6312 tengo que bajar a 2500

(6312, 24)

In [8]:
data.isnull().sum() # veo si los valores nulos de cada columna  han sido rellenados, funcionó!!!!

casenumber              0
date                    0
year                    0
type                    0
country                 0
area                    0
location                0
activity                0
name                    0
sex                     0
age                     0
injury                  0
fatal(y/n)              0
time                    0
species                 0
investigatororsource    0
pdf                     0
hrefformula             0
href                    0
casenumber.1            0
casenumber.2            0
originalorder           0
borrar1                 0
borrar2                 0
dtype: int64

In [9]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,borrar1,borrar2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,'unknown,'unknown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,'unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,'unknown,'unknown
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,'unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,'unknown,'unknown
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,'unknown,Minor injury to lower leg,N,'unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,'unknown,'unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,'unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,'unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,'unknown,'unknown

In [10]:
data2 = pd.DataFrame(data['hrefformula'].fillna('unknown')) ## NO PUEDO UNICAMENTE RELLENAR LOS VALORES DE UNA COLUMNA POR UNKNOW, 
#pero si puedo compar con otra columna y remplazar por unknow se hace mas adelantes

In [11]:
# Comparo las dos columnas y lleno  los datos repetidos con repated
comparacion = data['hrefformula'] == data['href'] 
comparacion.value_counts()
data.loc[comparacion, 'hrefformula'] = 'repeated' ## Funcinó !!
#Loc se usa para modificar columnas y filas  y lo transforma a boolean t/f)

In [12]:
# Hacemos lo mismo con las columnas casenumber.1 y casenumber.2
comparacion2 = data['casenumber.1'] == data['casenumber.2'] 
data.loc[comparacion2, 'casenumber.1'] = 'repeated' ## Funcinó !!

In [13]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,borrar1,borrar2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.25,6303.0,'unknown,'unknown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,'unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.18,6302.0,'unknown,'unknown
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,'unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.09,6301.0,'unknown,'unknown
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,'unknown,Minor injury to lower leg,N,'unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.08,6300.0,'unknown,'unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,'unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,'unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.04,6299.0,'unknown,'unknown

In [14]:
species_count = data.species.value_counts()
data = data[data["species"].isin(species_count[species_count > 1].index)]
data.shape

(5095, 24)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5095 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            5095 non-null   object
 1   date                  5095 non-null   object
 2   year                  5095 non-null   object
 3   type                  5095 non-null   object
 4   country               5095 non-null   object
 5   area                  5095 non-null   object
 6   location              5095 non-null   object
 7   activity              5095 non-null   object
 8   name                  5095 non-null   object
 9   sex                   5095 non-null   object
 10  age                   5095 non-null   object
 11  injury                5095 non-null   object
 12  fatal(y/n)            5095 non-null   object
 13  time                  5095 non-null   object
 14  species               5095 non-null   object
 15  investigatororsource  5095 non-null   object
 16  pdf                   5095 non-null   object
 17  hrefformula           5095 non-null   object
 18  href                  5095 non-null   object
 19  casenumber.1          5095 non-null   object
 20  casenumber.2          5095 non-null   object
 21  originalorder         5095 non-null   object
 22  borrar1               5095 non-null   object
 23  borrar2               5095 non-null   object
dtypes: object(24)
memory usage: 995.1+ KB

<h3>Limpieza segunda ronda<h3>
<h5>Exploración de las columnas casenumber,date, year están relaciondas<h5>

In [16]:
data['date'] = data['date'].str.extract(r'(\d+)')
# Dejo unicamnete los números

In [37]:
data['date'] = data['date'].fillna(-1)
#convierto los Nan en -1, para luego seleccionar solo los años <1950
data['date'] = data['date'].astype(int)
# lo convierto a enteror
data= data[(data['date'] > 1950) & (data['date'] < 2023)].copy()
# me quedo solo con las filas mayores a 1950 y menores al 2023

In [44]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,borrar1,borrar2
86,repeated,2017,repeated,Boating,AUSTRALIA,Westerm Australia,Esperance,Fishing,'unknown,'unknown,'unknown,"sharks rammed boats, no injury to occupants",N,'unknown,"White shark, 3.5m","B. Myatt, GSAF",2017.09.14-EsperanceBoats.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2017.09.14,6217.0,'unknown,'unknown
131,repeated,2017,repeated,Unprovoked,FRENCH POLYNESIA,Marquesas,"Atuona Bay, Hiva Oa Island",Surfing,male,M,'unknown,Injuries to hand and wrist,N,'unknown,'unknown,"Tahiti Infos, 6/6/2017",2017.06.05-FrenchPolynesia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2017.06.05,6172.0,'unknown,'unknown
226,repeated,2016,repeated,Invalid,MEXICO,'unknown,Guadalupe Island,Cage Diving,'unknown,'unknown,'unknown,"No injury to divers, white shark breached cage",'unknown,'unknown,Invalid,K. Yonker,2016.09.00-Breach.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2016.09.00,6077.0,'unknown,'unknown
370,repeated,2015,repeated,Unprovoked,FIJI,'unknown,'unknown,Spearfishing,Viliame Lautiki,M,'unknown,Leg bitten,N,'unknown,Tiger shark,"Fiji Times, 2/8/2016",2015.09.00-Lautiki.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2015.09.00,5933.0,'unknown,'unknown
504,repeated,2014,repeated,Unprovoked,SPAIN,Catalonia,Salou,Playing with an air mattress,male,M,16,Lacerations to right hand,N,'unknown,'unknown,"A. Brenneka, Shark Attack Survivors",2014.09.00-Salou.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2014.09.00,5799.0,'unknown,'unknown

In [42]:
data['casenumber'] = 'repeated'
data['year'] = 'repeated'
 ## Relleno con repeated las dos columnas ya que son iguales

In [43]:
data2.shape

(373, 24)

In [52]:
data.date.unique

<bound method Series.unique of 86      2017
131     2017
226     2016
370     2015
504     2014
525     2014
588     2014
589     2014
719     2012
802     2013
1024    2010
1177    2009
1187    2008
1210    2008
1314    2011
1366    2007
1403    2007
1425    2006
1426    2006
1447    2006
1448    2006
1465    2006
1466    2006
1626    2004
1648    2004
1709    2004
1748    2003
1761    2003
1762    2003
1771    2003
1777    2003
1814    2002
1938    2001
1951    2001
1987    2000
2017    2000
2027    2000
2044    2000
2053    2000
2078    2000
2091    1999
2092    1999
2143    1999
2144    1999
2166    1998
2196    1998
2207    1998
2208    1998
2269    1996
2270    1996
2279    1996
2312    1996
2327    1996
2363    1995
2375    1995
2398    1995
2401    1995
2403    1995
2404    1995
2452    1994
2460    1994
2465    1993
2469    1993
2484    1993
2485    1993
2496    1993
2497    1993
2498    1993
2499    1993
2505    1993
2513    1993
2514    1993
2515    1993
2516    1993
2536    1992
2542    1992
2551    1992
2554    1992
2571    1992
2572    1992
2578    1991
2593    1991
2610    1991
2648    1990
2684    1989
2689    1989
2702    1989
2713    1988
2727    1988
2757    1988
2762    1987
2776    1987
2792    1987
2799    1986
2807    1986
2809    1986
2810    1986
2814    1986
2821    1986
2831    1986
2865    1985
2867    1985
2868    1985
2892    1984
2907    1984
2908    1984
2939    1983
2950    1983
2956    1983
2957    1983
2959    1982
2977    1982
2983    1982
2986    1982
2996    1982
2997    1982
2998    1982
3038    1981
3043    1981
3047    1981
3062    1980
3063    1980
3068    1980
3081    1980
3082    1980
3098    1979
3099    1979
3105    1979
3107    1979
3131    1978
3132    1978
3157    1977
3158    1977
3197    1976
3208    1975
3226    1975
3237    1975
3245    1975
3246    1975
3255    1974
3273    1974
3276    1974
3277    1974
3284    1974
3289    1973
3297    1973
3309    1973
3310    1973
3311    1973
3345    1972
3368    1971
3371    1971
3372    1971
3373    1971
3378    1970
3380    1970
3386    1970
3393    1970
3396    1970
3407    1970
3408    1970
3409    1970
3410    1970
3411    1970
3412    1970
3413    1970
3414    1970
3415    1970
3425    1969
3431    1969
3441    1969
3443    1969
3444    1969
3450    1968
3471    1968
3473    1968
3481    1968
3487    1968
3489    1968
3490    1968
3491    1968
3501    1967
3504    1967
3520    1967
3523    1967
3528    1967
3546    1966
3555    1966
3564    1966
3583    1966
3597    1996
3609    1965
3621    1965
3622    1965
3625    1965
3626    1965
3627    1965
3642    1965
3643    1965
3647    1965
3648    1965
3676    1964
3677    1964
3686    1964
3691    1964
3702    1964
3703    1964
3714    1964
3747    1963
3773    1963
3774    1963
3775    1963
3783    1962
3789    1962
3803    1962
3804    1962
3824    1962
3839    1962
3859    1962
3860    1962
3861    1962
3874    1961
3890    1961
3891    1961
3918    1961
3925    1961
3936    1961
3938    1961
3940    1961
3952    1960
3956    1960
3957    1960
3958    1960
3960    1960
3977    1960
4004    1960
4005    1960
4025    1960
4026    1960
4029    1960
4030    1960
4031    1960
4032    1960
4033    1960
4042    1959
4056    1959
4064    1959
4088    1959
4097    1959
4119    1959
4120    1959
4123    1959
4124    1959
4125    1959
4126    1959
4138    1958
4139    1958
4155    1958
4165    1958
4173    1958
4174    1958
4175    1958
4176    1958
4178    1958
4179    1958
4180    1958
4199    1957
4211    1957
4212    1957
4213    1957
4215    1957
4216    1957
4217    1957
4218    1957
4219    1957
4220    1957
4221    1957
4229    1956
4232    1956
4240    1956
4241    1956
4243    1956
4244    1956
4255    1956
4259    1956
4265    1956
4266    1956
4267    1956
4269    1956
4270    1956
4271    1956
4272    1956
4276    1955
4288    1955
4295    1955
4298    1955
4301    1955
4310    1955
4312    1955
4313    1955
4314    1955
4315    1955
4341    1954
4343    1954
4345    1954
4351    1954
4353    1954
4354    1954
4355    1954
4356    1954
4357    1954
4362    1953
4368    1953
4380    1953
4381    1953
4382    1953
4384    1953
4385    1953
4388    1953
4391    1953
4392    1953
4393    1953
4418    1952
4419    1952
4421    1952
4422    1952
4425    1951
4443    1951
4454    1951
6182    1990
6183    2016
6184    2009
6187    2009
6193    1951
6197    2012
6198    2011
6199    2011
6200    2009
6201    1994
6202    1963
6206    2012
6210    2006
6211    2003
6212    2004
6213    1962
6215    1963
6216    2003
6219    1998
6220    1996
6221    1995
6223    1989
6225    1987
6227    1975
6228    1969
6232    1963
6235    1963
6237    1963
6238    1962
6240    1961
6241    1960
6242    1960
6243    1960
6247    1958
6248    1958
6249    1958
6250    1958
6251    1958
6252    1958
6254    1957
6255    1956
6256    1956
6257    1956
6258    1952
Name: date, dtype: int32>

Agrupar. 

Siempre se necesita una función de agregación

In [34]:
data2.groupby('country')

In [35]:
data2.groupby('country').count().head(40)

,casenumber,date,year,type,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,borrar1,borrar2
country,,,,,,,,,,,,,,,,,,,,,,,
'unknown,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
ANGOLA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
AUSTRALIA,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
BAHAMAS,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
BAHREIN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
BANGLADESH,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
BERMUDA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
BRAZIL,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
CARIBBEAN SEA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
COLUMBIA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
COSTA RICA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
CROATIA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
CUBA,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
DJIBOUTI,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
EGYPT,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
EL SALVADOR,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ENGLAND,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FIJI,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
FRANCE,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
FRENCH POLYNESIA,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
GREECE,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
GRENADA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
GULF OF ADEN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
HONG KONG,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
INDIA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
INDIAN OCEAN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
INDONESIA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
IRAN,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
IRAQ,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
ITALY,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
JAMAICA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
JAPAN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
JOHNSTON ISLAND,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
KENYA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
KIRIBATI,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
KOREA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
LIBERIA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MADAGASCAR,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
MALDIVE ISLANDS,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MARSHALL ISLANDS,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [26]:
data.country.unique() ##Valores unicos de la columna country

countries = data.country.unique()
# almaceno los nombres en una var llamada countries