In [1]:
import pandas as pd
import numpy as np


data = pd.read_csv('attacks.csv', encoding = 'latin-1')

In [2]:
pd.options.display.max_rows # Me enseña todo el número de columnas

data.dtypes # observo el tipo de dato de cada columna, las ultimas 2 están vacias

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

#Metodología,

<h3>Objetivo:<h3>

Saber el número de ataques de tiburones por paises

Análisis: 
las columnas date, case_number, case_number1, case_number2, hablan de fechas(cada una tiene un formato diferente). Se podrian llegar a relacionar con las col 'year' y 'time'
Las col 'href' y 'href_formula' estan duplicadas, me tengo que cargar alguna de ellas
Las dos ultimas col 'unnamed:_22', 'unnamed:_23' las cambio de nombre a borrar y las relleno con unknow

In [3]:
data.info
data.columns # veo solo las columnas 
data.columns = [e.lower().strip().replace(" ", "")for e in data.columns]
# e.lower : pongo todo en minúsculas
#strip, sustituye en ambos lados

In [4]:
data.info() # verl el tipo de dato y los NO nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            8702 non-null   object
 1   date                  6302 non-null   object
 2   year                  6300 non-null   float64
 3   type                  6298 non-null   object
 4   country               6252 non-null   object
 5   area                  5847 non-null   object
 6   location              5762 non-null   object
 7   activity              5758 non-null   object
 8   name                  6092 non-null   object
 9   sex                   5737 non-null   object
 10  age                   3471 non-null   object
 11  injury                6274 non-null   object
 12  fatal(y/n)            5763 non-null   object
 13  time                  2948 non-null   object
 14  species               3464 non-null   object
 15  investigatororsource  6285 non-null   object
 16  pdf                   6302 non-null   object
 17  hrefformula           6301 non-null   object
 18  href                  6302 non-null   object
 19  casenumber.1          6302 non-null   object
 20  casenumber.2          6302 non-null   object
 21  originalorder         6309 non-null   float64
 22  unnamed:22            1 non-null      object
 23  unnamed:23            2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
# Renombro las columnas incesarios para mi Objetivo, ya que la restricción es NO borrar columnas
data = data.rename(columns = {"unnamed:22": "borrar1", "unnamed:23"  :"borrar2"})
columnas = data.columns # Guardo todas las columnas
data.shape ## filas originales 25723

(25723, 24)

In [7]:
data = data.drop_duplicates(subset=columnas) ##Borro las filas duplicadas
data.fillna("'unknown", inplace=True) #relleno todos los valores nulos con unknow
data.dropna(inplace=True) ## PASO SUPER IMPORTANTE 


data.shape # me quedo con 6312 tengo que bajar a 2500

(6312, 24)

In [8]:
data.isnull().sum() # veo si los valores nulos de cada columna  han sido rellenados, funcionó!!!!

casenumber              0
date                    0
year                    0
type                    0
country                 0
area                    0
location                0
activity                0
name                    0
sex                     0
age                     0
injury                  0
fatal(y/n)              0
time                    0
species                 0
investigatororsource    0
pdf                     0
hrefformula             0
href                    0
casenumber.1            0
casenumber.2            0
originalorder           0
borrar1                 0
borrar2                 0
dtype: int64

In [9]:
data.head(10)

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,borrar1,borrar2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,'unknown,'unknown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,'unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,'unknown,'unknown
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,'unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,'unknown,'unknown
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,'unknown,'unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,'unknown,'unknown
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,'unknown,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,'unknown,'unknown
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,'unknown,'unknown
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,'unknown,'unknown
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,'unknown,'unknown
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,'unknown,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,'unknown,'unknown

In [10]:
data2 = pd.DataFrame(data['hrefformula'].fillna('unknown')) ## NO PUEDO UNICAMENTE RELLENAR LOS VALORES DE UNA COLUMNA POR UNKNOW, 
#pero si puedo compar con otra columna y remplazar por unknow se hace mas adelantes

In [11]:
# Comparo las dos columnas y lleno  los datos repetidos con repated
comparacion = data['hrefformula'] == data['href'] 
comparacion.value_counts()
data.loc[comparacion, 'hrefformula'] = 'repeated' ## Funcinó !!
#Loc se usa para modificar columnas y filas  y lo transforma a boolean t/f)

In [12]:
# Hacemos lo mismo con las columnas casenumber.1 y casenumber.2
comparacion2 = data['casenumber.1'] == data['casenumber.2'] 
data.loc[comparacion2, 'casenumber.1'] = 'repeated' ## Funcinó !!

In [13]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,borrar1,borrar2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.25,6303.0,'unknown,'unknown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,'unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.18,6302.0,'unknown,'unknown
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,'unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.09,6301.0,'unknown,'unknown
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.08,6300.0,'unknown,'unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,repeated,http://sharkattackfile.net/spreadsheets/pdf_di...,repeated,2018.06.04,6299.0,'unknown,'unknown

In [14]:
species_count = data.species.value_counts()
data = data[data["species"].isin(species_count[species_count > 1].index)]
data.shape

(5095, 24)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5095 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            5095 non-null   object
 1   date                  5095 non-null   object
 2   year                  5095 non-null   object
 3   type                  5095 non-null   object
 4   country               5095 non-null   object
 5   area                  5095 non-null   object
 6   location              5095 non-null   object
 7   activity              5095 non-null   object
 8   name                  5095 non-null   object
 9   sex                   5095 non-null   object
 10  age                   5095 non-null   object
 11  injury                5095 non-null   object
 12  fatal(y/n)            5095 non-null   object
 13  time                  5095 non-null   object
 14  species               5095 non-null   object
 15  investigatororsource  5095 non-null   object
 16  pdf                   5095 non-null   object
 17  hrefformula           5095 non-null   object
 18  href                  5095 non-null   object
 19  casenumber.1          5095 non-null   object
 20  casenumber.2          5095 non-null   object
 21  originalorder         5095 non-null   object
 22  borrar1               5095 non-null   object
 23  borrar2               5095 non-null   object
dtypes: object(24)
memory usage: 995.1+ KB

In [16]:
print(data['species'])

0            White shark
1               'unknown
2               'unknown
3              2 m shark
4        Tiger shark, 3m
              ...
6307            'unknown
6308            'unknown
6309            'unknown
8702            'unknown
25722           'unknown
Name: species, Length: 5095, dtype: object

<h3>Limpieza segunda ronda<h3>
<h5>casenumber	date	year columnas relaciondas<h5>

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5095 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            5095 non-null   object
 1   date                  5095 non-null   object
 2   year                  5095 non-null   object
 3   type                  5095 non-null   object
 4   country               5095 non-null   object
 5   area                  5095 non-null   object
 6   location              5095 non-null   object
 7   activity              5095 non-null   object
 8   name                  5095 non-null   object
 9   sex                   5095 non-null   object
 10  age                   5095 non-null   object
 11  injury                5095 non-null   object
 12  fatal(y/n)            5095 non-null   object
 13  time                  5095 non-null   object
 14  species               5095 non-null   object
 15  investigatororsource  5095 non-null   object
 16  pdf                   5095 non-null   object
 17  hrefformula           5095 non-null   object
 18  href                  5095 non-null   object
 19  casenumber.1          5095 non-null   object
 20  casenumber.2          5095 non-null   object
 21  originalorder         5095 non-null   object
 22  borrar1               5095 non-null   object
 23  borrar2               5095 non-null   object
dtypes: object(24)
memory usage: 995.1+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5095 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            5095 non-null   object
 1   date                  5095 non-null   object
 2   year                  5095 non-null   object
 3   type                  5095 non-null   object
 4   country               5095 non-null   object
 5   area                  5095 non-null   object
 6   location              5095 non-null   object
 7   activity              5095 non-null   object
 8   name                  5095 non-null   object
 9   sex                   5095 non-null   object
 10  age                   5095 non-null   object
 11  injury                5095 non-null   object
 12  fatal(y/n)            5095 non-null   object
 13  time                  5095 non-null   object
 14  species               5095 non-null   object
 15  investigatororsource  5095 non-null   object
 16  pdf                   5095 non-null   object
 17  hrefformula           5095 non-null   object
 18  href                  5095 non-null   object
 19  casenumber.1          5095 non-null   object
 20  casenumber.2          5095 non-null   object
 21  originalorder         5095 non-null   object
 22  borrar1               5095 non-null   object
 23  borrar2               5095 non-null   object
dtypes: object(24)
memory usage: 8.1 MB

In [25]:
data["year"].unique()

array([2018.0, 2017.0, "'unknown", 2016.0, 2015.0, 2014.0, 2013.0, 2012.0,
       2011.0, 2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0,
       2003.0, 2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0,
       1995.0, 1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0,
       1969.0, 1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0,
       1980.0, 1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0,
       1972.0, 1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0,
       1963.0, 1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0,
       1955.0, 1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0,
       1848.0, 1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0,
       1940.0, 1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0,
       1932.0, 1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0,
       1924.0, 1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0,
       1916.0, 1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0,
       1908.0, 1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0,
       1900.0, 1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0,
       1892.0, 1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0,
       1884.0, 1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0,
       1876.0, 1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0,
       1868.0, 1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0,
       1860.0, 1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0,
       1851.0, 1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0,
       1841.0, 1840.0, 1839.0, 1837.0, 1836.0, 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1811.0, 1810.0,
       1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0, 1800.0,
       1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0, 1784.0,
       1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1764.0, 1753.0, 1751.0,
       1749.0, 1755.0, 1748.0, 1742.0, 1738.0, 1733.0, 1723.0, 1703.0,
       1700.0, 1642.0, 1638.0, 1637.0, 1617.0, 1595.0, 1580.0, 1555.0,
       1543.0, 500.0, 77.0, 5.0, 0.0], dtype=object)